
@{
    ViewBag.Title = "NewsOfHandBook_3";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
}

@section cssInsert{
    <link href="~/Assets/Client/Css/User/NewsOfHandBook_3.css" rel="stylesheet" />
}

<div class="content">
    <div class="wrap">
        <div class="path">
            <a href="" style="color: #f07e1d;"><i class="fa fa-home"></i> Việc làm </a>
            <span> / </span>
            <a href="" style="color: #f07e1d;">Cẩm nang nghề nghiệp</a>
            <span> / </span>
            <a href="" style="color: #f07e1d;">Lời khuyên nghề nghiệp </a>
            <span> / Hãy theo đuổi ước mơ không có gì là không thể</span>
        </div>
        <div class="content_body">
            <div class="primary_content_body">
                <!--Nội dung bài viết. Qua sửa lại thuộc tính height của class content_post từ 1500px thành auto nhé!-->
                <div class="content_post"></div>
                <div class="under_content_post">
                    <div class="under_content_post_title">
                        <span>NGƯỜI KHÁC ĐÃ XEM</span>
                        <a href="#" class="left fa fa-chevron-left"></a>
                        <a href="#" class="right fa fa-chevron-right"></a>
                    </div>
                    <div class="under_content_post_news">
                        <div class="vertical_news">
                            <div class="vertical_news_1">
                                <img src="~/Assets/Client/Img/User/ImageSearchJob/blue-search-icon.png" />
                                <div class="vertical_news_1_title">
                                    <span>Lời khuyên nghề nghiệp</span>
                                </div>
                            </div>
                            <div class="vertical_news_2">
                                <span>THEO ĐUỔI SỰ NGHIỆP VỚI NIỀM ĐAM MÊ</span>
                            </div>
                            <div class="vertical_news_3">
                                <div class="vertical_news_3_1">
                                    <i class="far fa-calendar-alt"></i>
                                    13/08/2020
                                </div>
                                <div class="vertical_news_3_1">
                                    <i class="fa fa-eye"></i>
                                    9999 xem
                                </div>
                            </div>
                            <div class="vertical_news_4">
                                <span>abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz</span>
                            </div>
                        </div>
                        <div class="vertical_news">
                            <div class="vertical_news_1">
                                <img src="~/Assets/Client/Img/User/ImageSearchJob/blue-search-icon.png" />
                                <div class="vertical_news_1_title">
                                    <span>Lời khuyên nghề nghiệp</span>
                                </div>
                            </div>
                            <div class="vertical_news_2">
                                <span>THEO ĐUỔI SỰ NGHIỆP VỚI NIỀM ĐAM MÊ</span>
                            </div>
                            <div class="vertical_news_3">
                                <div class="vertical_news_3_1">
                                    <i class="far fa-calendar-alt"></i>
                                    13/08/2020
                                </div>
                                <div class="vertical_news_3_1">
                                    <i class="fa fa-eye"></i>
                                    9999 xem
                                </div>
                            </div>
                            <div class="vertical_news_4">
                                <span>abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz</span>
                            </div>
                        </div>
                        <div class="vertical_news">
                            <div class="vertical_news_1">
                                <img src="~/Assets/Client/Img/User/ImageSearchJob/blue-search-icon.png" />
                                <div class="vertical_news_1_title">
                                    <span>Lời khuyên nghề nghiệp</span>
                                </div>
                            </div>
                            <div class="vertical_news_2">
                                <span>THEO ĐUỔI SỰ NGHIỆP VỚI NIỀM ĐAM MÊ</span>
                            </div>
                            <div class="vertical_news_3">
                                <div class="vertical_news_3_1">
                                    <i class="far fa-calendar-alt"></i>
                                    13/08/2020
                                </div>
                                <div class="vertical_news_3_1">
                                    <i class="fa fa-eye"></i>
                                    9999 xem
                                </div>
                            </div>
                            <div class="vertical_news_4">
                                <span>abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz</span>
                            </div>
                        </div>
                        <div class="vertical_news">
                            <div class="vertical_news_1">
                                <img src="~/Assets/Client/Img/User/ImageSearchJob/blue-search-icon.png" />
                                <div class="vertical_news_1_title">
                                    <span>Lời khuyên nghề nghiệp</span>
                                </div>
                            </div>
                            <div class="vertical_news_2">
                                <span>THEO ĐUỔI SỰ NGHIỆP VỚI NIỀM ĐAM MÊ</span>
                            </div>
                            <div class="vertical_news_3">
                                <div class="vertical_news_3_1">
                                    <i class="far fa-calendar-alt"></i>
                                    13/08/2020
                                </div>
                                <div class="vertical_news_3_1">
                                    <i class="fa fa-eye"></i>
                                    9999 xem
                                </div>
                            </div>
                            <div class="vertical_news_4">
                                <span>abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondary_content_body">
                <div class="secondary_content_body_1">
                    <span>NHIỀU NGƯỜI ĐỌC</span>
                </div>
                <div class="secondary_content_body_2">
                    <div class="secondary_content_body_2_1">
                        <img src="~/Assets/Client/Img/User/ImageSearchJob/blue-search-icon.png" />
                    </div>
                    <div class="secondary_content_body_2_2">
                        <span>abc xyz abc xyz abc xyz abc xyz abc xyz abc xyz</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section jsInsert {
    <script src="~/Assets/Client/Js/User/NewsOfHandBook_3.js"></script>
}