* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: white;
    padding: 0 2.5% 0 7.5%;
    box-shadow: 0 1px 2px grey;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .container {
    display: block;
    height: 75px;
    width: 100%;
    margin: 0 auto;
}

header .row {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

header .responsive_menu_icon {
    display: none;
}

    header .responsive_menu_icon i {
        font-size: 30px;
        color: royalblue;
    }

    header .responsive_menu_icon span {
        font-weight: bold;
        font-size: 25px;
        color: darkslategrey;
        padding: 0 15px;
    }

    header .responsive_menu_icon:hover {
        cursor: pointer;
    }

header .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 15%;
    text-align: center;
}

    header .logo:hover {
        cursor: pointer;
    }

header .logo_box {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

    header .logo_box img {
        max-height: 100%;
        width: 100%;
    }

header .menu {
    display: flex;
    align-items: center;
    height: 100%;
    width: 45%;
}

header .element {
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 100%;
    padding: 0 10px;
    border-radius: 5px;
    transition: 0.2s;
    color: darkslategrey;
    text-align: center;
}

    header .element:hover {
        background-color: royalblue;
        color: white;
        cursor: pointer;
    }

header .element_box {
    display: block;
}

    header .element_box i {
        display: block;
        text-align: center;
        padding-bottom: 5px;
    }

    header .element_box span {
        display: block;
    }

header .user {
    margin-left: auto;
    display: flex;
    align-items: center;
}

header .account {
    display: flex;
    align-items: center;
}

header .log_in {
    padding: 0 10px;
    border-right: solid grey 0.5px;
}

    header .log_in i {
        color: royalblue;
    }

    header .log_in span {
        font-weight: bold;
        color: darkslategrey;
        transition: 0.2s;
    }

    header .log_in:hover {
        cursor: pointer;
    }

    header .log_in span:hover {
        color: royalblue;
    }

header .registration {
    padding: 0 10px;
}

     header .registration i {
        color: royalblue;
    }

    header .registration span {
        font-weight: bold;
        color: darkslategrey;
        transition: 0.2s;
    }

    header .registration:hover {
        cursor: pointer;
    }

    header .registration span:hover {
        color: royalblue;
    }

header .searching {
    font-weight: bold;
    color: royalblue;
    padding: 10px 10px;
    border: solid royalblue 2px;
    border-radius: 10px;
    box-shadow: 5px 5px royalblue;
    transition: 0.2s;
}

    header .searching:hover {
        background-color: royalblue;
        color: white;
        box-shadow: none;
        cursor: pointer;
    }


header .responsive_menu {
    position: fixed;
    top: 75px;
    left: 0;
    height: auto;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 2px grey;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    padding: 0 5%;
}

    header .responsive_menu.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

header .res_element {
    display: block;
    height: 50px;
    width: 100%;
    color: darkslategrey;
}

    header .res_element:hover {
        color: white;
        background-color: royalblue;
        cursor: pointer;
    }

header.res_element_box {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: solid 1px rgb(207, 204, 204);
}

    .res_element_box i {
        padding: 0 10px;
    }

    .res_element_box span {
        padding: 0 10px;
        font-weight: bold;
    }

header .res_searching {
    margin: 15px 0;
    font-weight: bold;
    font-size: 18pt;
    color: royalblue;
    width: 100%;
    height: 50px;
    border-top: solid 2px royalblue;
    border-left: solid 2px royalblue;
    border-right: solid 2px royalblue;
    border-bottom: solid 10px royalblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

    header .res_searching:hover {
        /*background-color: royalblue;
    color: white;*/
        box-shadow: none;
        cursor: pointer;
    }

    .res_searching span {
        margin: 0 auto;
    }
.content-main{
    width: 100%;
    height: auto;
    margin-top: 75px;
}

footer {
    background-color: #222;
    padding: 0 7.5%;
    height: 500px;
    width: 100%;
    border-top: solid 5px #aaa;
    float: left;
}

.footer_container {
    display: flex;
    align-items: center;
    height: 400px;
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 1px #3a3a3a;
}

.footer_element_1, .footer_element_2, .footer_element_3 {
    display: block;
    height: 100%;
    width: 25%;
    padding: 20px 0;
    margin: 0 20px;
}

    .footer_element_1 span, .footer_element_2 span, .footer_element_3 span {
        display: block;
        font-weight: bold;
        color: #c5c5c5;
        font-size: 12pt;
        margin-bottom: 30px;
    }

    .footer_element_1 p {
        color: #c5c5c5;
        line-height: 30px;
        padding: 0 15px 0 0;
    }

    .footer_element_1 a {
        text-decoration: none;
        color: royalblue;
    }

        .footer_element_1 a:hover {
            color: midnightblue;
        }

    .footer_element_2 ul, .footer_element_3 ul {
        list-style: none;
        padding: 20px 0;
        border-top: solid 1px #3a3a3a;
        margin: 20px 0;
    }

        .footer_element_2 ul li, .footer_element_3 ul li {
            padding: 5px 0;
            display: flex;
            align-items: center;
        }

    .footer_element_2 a, .footer_element_3 a {
        color: #c5c5c5;
        text-decoration: none;
        font-size: 12pt;
        padding: 0 10px;
    }

        .footer_element_2 a:hover, .footer_element_3 a:hover {
            color: royalblue;
        }

    .footer_element_2 i {
        color: #5b5b5b;
        font-size: 12pt;
    }

    .footer_element_3 i {
        color: #5b5b5b;
        font-size: 7pt;
    }
header .fog_background {
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

header .login_form {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: white;
    border: #f07e1d solid 2px;
    padding: 15px;
    position: fixed;
    border-radius: 10px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    top: 150px;
    left: calc(50% - 200px);
}

    header .login_form form h1 {
        color: #f07e1d;
        font-size: 25px;
        margin-bottom: 20px;
    }

header .input_box {
    margin-bottom: 10px;
}

    header .input_box input {
        padding: 7.5px 15px;
        width: 100%;
        border: 1px solid #cccccc;
        outline: none;
    }

header .btn_box {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 15px;
}

    header .btn_box button {
        padding: 7.5px 15px;
        border-radius: 2px;
        background-color: #f07e1d;
        color: #ffffff;
        border: none;
        outline: none;
        cursor: pointer;
    }

header .forgot {
    text-decoration: none;
    color: #5b5b5b;
    font-size: 15px;
}

    header .forgot:hover {
        text-decoration: underline;
    }

header .register {
    text-decoration: none;
    color: #5b5b5b;
    font-size: 15px;
}

    header .register:hover {
        text-decoration: underline;
    }

header #control-account {
    transition: color 0.3s;
    cursor: pointer;
}

    header #control-account:hover {
        color: orangered;
    }

header #container-control {
    position: absolute;
    top: 40px;
    left: 0px;
    height: auto;
    width: 150px;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    display: none;
}

    header #container-control a {
        color: unset;
        text-decoration: unset;
    }

    header #container-control .each-part {
        margin-left: 10px;
        width: calc(100% - 20px);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        font-size: 10pt;
        padding-bottom: 5px;
        padding-top: 5px;
        cursor: pointer;
    }

        header #container-control .each-part:hover {
            color: gray;
        }

        header #container-control .each-part i {
            margin-right: 5px;
        }
@media screen and (max-width: 1250px) {
    header {
        padding: 0 2.5%;
    }

    .container {
        height: 100px;
    }

    footer {
        padding: 0 2.5%;
    }

    .log_in {
        display: block;
    }

        .log_in i {
            display: block;
            text-align: center;
            padding-bottom: 5px;
        }

        .log_in span {
            display: block;
        }

    .registration {
        display: block;
    }

        .registration i {
            display: block;
            text-align: center;
            padding-bottom: 5px;
        }

        .registration span {
            display: block;
        }
}

@media screen and (max-width: 1050px) {
    header {
        padding: 0 5%;
    }

    .menu {
        display: none;
    }

    .searching {
        display: none;
    }

    .responsive_menu_icon {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    footer {
        height: auto;
    }

    .footer_container {
        display: block;
        height: auto;
    }

    .footer_element_1, .footer_element_2, .footer_element_3 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .responsive_menu_icon span {
        display: none;
    }

    .responsive_menu_icon i {
        padding: 0 15px;
    }

    .log_in span {
        display: none;
    }

    .log_in i {
        font-size: 25px;
    }

    .registration span {
        display: none;
    }

    .registration i {
        font-size: 25px;
    }

    .logo {
        width: 20%;
    }

    .res_searching {
        font-size: 15pt;
    }
}
