main {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.1);
}
#headerMenu {
    width: 90%;
    background-color: white;
    margin-bottom: 20px;
    float: left;
    margin-left: calc(50% - 550px);
    height: auto;
    min-height: 60px;
    margin-top: 70px;
}

.titleNews {
    position: relative;
    float: left;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 40px;
    cursor: pointer;
}

.dropdown {
    background-color: #8adbf9;
    cursor: pointer;
    width: auto;
    height: auto;
    display: none;
    z-index: 2;
    position: absolute;
    font-size: 11pt;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}

    .dropdown a {
        height: 27px;
        width: 230px;
        float: left;
        font-size: 16px;
        padding-top: 5px;
        padding-left: 5px;
        z-index: 2;
        color: black;
        padding: 4px 8px 5px 8px;
        text-decoration: none;
    }

        .dropdown a:hover {
            background-color: #f07e1d;
        }

vr {
    width: 1px;
    height: 40px;
    background-color: #b0acac;
}

#path {
    float: left;
    display: inline-flex;
    margin-left: calc(50% - 550px);
    z-index: 0;
    width: 100%;
    margin-top: 10px;
}

.content {
    float: left;
    background-color: white;
    position: relative;
    margin-left: calc(50% - 550px);
    margin-top: 20px;
    width: 825px;
    z-index: 0;
    padding-bottom: 20px;
}

    .content vr {
        float: left;
        width: 2.5px;
        height: 25px;
        background-color: #f07e1d;
        margin-left: 0px;
        margin-top: 15px;
    }

.horizontalNews {
    float: left;
    width: calc(100% - 30px);
    height: 145px;
    margin: 15px 15px 0px 15px;
}

    .horizontalNews:hover {
        box-shadow: 0 0 10px #c2c2c2;
    }

    .horizontalNews .imageNews {
        max-width: 32%;
    }

    .horizontalNews img {
        float: left;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

.imageNews {
    float: left;
    position: relative;
    background-size: cover;
    height: 100%;
}

.typeNews {
    float: right;
    padding: 5px;
    background-color: rgba(240, 126, 29, 0.8);
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
}

.mainContent {
    float: revert;
    position: relative;
    width: 67%;
    margin-left: 33%;
}

.headerNews {
    float: left;
    margin: 15px 5px 0px 5px;
    font-size: 18px;
    width: 100%;
}

.submitDate {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    color: #6e6e6e;
    font-size: 15px;
}

.view {
    float: left;
    margin-left: 80px;
    margin-top: 5px;
    color: #6e6e6e;
    font-size: 15px;
}

.textNews {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    text-overflow: ellipsis;
    word-break: break-word;
}


/* hotNews */
#hotNews .content {
    width: 260px;
    float: left;
    margin-left: 15px;
}

#hotNews .horizontalNews {
    width: auto;
    height: 80px;
    margin: 5px 15px 0px 15px;
}

#hotNews .headerNews {
    font-size: 15px;
    margin-top: 0px;
}

#hotNews .textNews .textOverflowLine {
    -webkit-line-clamp: 2;
}

.textOverflowLine {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10pt;
}

.headerNews .textOverflowLine {
    -webkit-line-clamp: 2;
}

.textNews .textOverflowLine {
    -webkit-line-clamp: 4;
}

@media screen and (max-width: 1150px) {
    .content {
        margin: 15px;
        width: 95%;
    }

    #path {
        margin-left: 15px;
        width: 95%;
    }

    #headerMenu {
        margin-left: 15px;
        width: 95%;
    }

    #hotNews .horizontalNews {
        border: 1px solid #d1d1d1;
        float: left;
        margin: 15px 0px 15px 15px;
        width: 200px;
        height: 240px;
        margin-bottom: 30px;
    }

        #hotNews .horizontalNews .imageNews {
            max-width: 100%;
        }

        #hotNews .horizontalNews img {
            width: 100%;
            height: 120px;
        }

        #hotNews .horizontalNews .imageNews {
            position: relative;
            width: 100%;
            height: 120px;
        }

        #hotNews .horizontalNews .mainContent {
            float: left;
            margin-left: 0;
            width: 99%;
        }

        #hotNews .horizontalNews .headerNews {
            margin: 5px 5px;
        }

        #hotNews .horizontalNews .textNews {
            margin-left: 5px;
            width: fit-content;
        }
}

@media screen and (max-width: 900px) {
    #headerMenu {
        width: 95%;
    }

    .titleNews {
        position: unset;
        width: 100%;
        float: left;
        background-color: white;
    }

    .horizontalNews {
        border: 1px solid #d1d1d1;
        float: left;
        margin: 15px 0px 15px 15px;
        width: 46%;
        height: 290px;
        margin-bottom: 30px;
    }

        .horizontalNews .imageNews {
            max-width: 100%;
        }

        .horizontalNews img {
            width: 100%;
            height: 120px;
        }

        .horizontalNews .imageNews {
            position: relative;
            width: 100%;
            height: 120px;
        }

        .horizontalNews .mainContent {
            float: left;
            margin-left: 0%;
            width: 100%;
        }

        .horizontalNews .headerNews {
            margin: 15px 5px;
        }

        .horizontalNews .submitDate {
            margin-left: 5px;
            margin-top: -11px;
        }

        .horizontalNews .view {
            margin-left: 17px;
            margin-top: -11px;
        }

        .horizontalNews .textNews {
            margin-left: 5px;
            margin-top: 10px;
            width: fit-content;
        }

    .textNews .textOverflowLine {
        -webkit-line-clamp: 4;
    }
}
