body {
    background-color: rgb(236, 236, 236);
}

#path {
    padding: 10px;
    margin-left: 3%;
    margin-top: 75px;
}

.button {
    position: fixed;
    border: 1px solid;
    border-radius: 5px;
    width: 180px;
    float: right;
    top: 73px;
    right: 80px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 2;
    margin-top: 75px;
}

#applyJob {
    color: white;
    background-color: #f07e1d;
}

    #applyJob:hover {
        background-color: rgb(133, 218, 53);
    }

#saveJob {
    border-color: rgb(180, 180, 180);
    background-color: white;
    top: 114px;
}

    #saveJob:hover {
        background-color: rgb(173, 173, 173);
    }

#colLeftMenu {
    float: left;
    width: 260px;
    margin: 10px;
    margin-left: 4%;
}

#generalDescrip {
    float: left;
    width: 100%;
    height: auto;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    box-shadow: 0 0 5px gray;
}

    #generalDescrip img {
        background-size: cover;
        width: 40%;
        height: 100px;
        margin-left: 30%;
        margin-top: 20px;
    }

#nameCompany {
    float: left;
    width: 100%;
    color: #f07e1d;
    text-align: center;
    margin-top: 10px;
}

#generalDescrip label {
    float: left;
    margin-left: 5px;
    width: 95px;
    font-size: 11pt;
}

#genaralDescrip id {
    width: 100%;
    float: left;
}

.textOverflowLine {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

#tableOfContents {
    float: left;
    width: 100%;
    height: auto;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    box-shadow: 0 0 5px gray;
    margin-top: 30px;
}

    #tableOfContents i {
        padding-top: 0px;
        padding-right: 5px;
    }

.item {
    float: left;
    background-color: rgb(240, 239, 239);
    padding: 10px 10px;
    width: 95%;
    height: auto;
    margin-top: 5px;
}

    .item:hover {
        background-color: #f07e1d;
        cursor: pointer;
    }

#colRightMenu {
    float: left;
    width: 830px;
    margin: 10px 4% 10px 30px;
    z-index: 1;
}

#imageBody {
    position: relative;
    float: left;
    background-image: url('../../Img/User/ImageSearchJob/bh-02.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
}

#image {
    background-image: url('../../Img/User/ImageSearchJob/bg-solid-black.png');
    width: 100%;
    height: 100%;
}

#nameJob {
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 90%;
    padding: 20px 20px;
}

#imageBody vr {
    float: left;
    position: absolute;
    width: 5px;
    height: 60px;
    background-color: white;
    top: 60px;
    left: 20px;
}

#salary {
    float: left;
    position: absolute;
    top: 68px;
    left: 40px;
}

#reward {
    float: left;
    position: absolute;
    top: 92px;
    left: 40px;
}

#image i {
    color: rgb(255, 230, 0);
    font-size: 13px;
}

.contentJob {
    float: left;
    position: relative;
    background-color: rgb(247, 247, 247);
    width: 100%;
    margin-top: 15px;
    padding-bottom: 10px;
}

    .contentJob vr {
        float: left;
        position: absolute;
        top: 15px;
        left: 0px;
        width: 3px;
        height: 25px;
        background-color: #f07e1d;
    }

.headerNews {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 40px;
    font-size: 17px;
    width: 100%;
    font-weight: 700;
}
.jobName .textOverflowLine {
    -webkit-line-clamp: 2;
}

.contentJob span {
    width: 100%;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}

#relatedJob {
    float: left;
    width: 100%;
    margin-top: 50px;
}

#title {
    padding: 5px;
    background-color: #f07e1d;
    width: fit-content;
    color: white;
    margin-bottom: 0px;
}

#line {
    height: 1px;
    width: 100%;
    background-color: rgb(199, 199, 199);
}

#relatedJob .jobContainer {
    border: 1px solid rgb(199, 199, 199);
    width: 100%;
    background-color: #ebedeb;
    position: relative;
    height: 9em;
    margin-top: 15px;
    padding-bottom: 10px;
}

    #relatedJob .jobContainer:hover {
        cursor: pointer;
        border: 1px solid #f07e1d;
    }

#relatedJob .logo img {
    position: relative;
    background-size: cover;
    margin: 0 0;
    height: 8em;
    width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#relatedJob .jobName {
    position: absolute;
    left: 12em;
    top: 0px;
    color: #f07e1d;
    font-size: 18pt;
}

    #relatedJob .jobName .textOverflowLine {
        -webkit-line-clamp: 2;
    }

#relatedJob .companyName {
    position: absolute;
    margin-left: 14em;
    margin-top: -6em;
}

    #relatedJob .companyName .textOverflowLine {
        -webkit-line-clamp: 1;
    }

#relatedJob .address {
    margin-left: 14em;
    margin-top: -4.25em;
}

#relatedJob .salary {
    position: absolute;
    margin-left: 37em;
    margin-top: -1.3em;
}

#relatedJob .deadline {
    position: absolute;
    margin-left: 14em;
    margin-top: 0.5em;
}

#relatedJob .reward {
    margin-left: 37em;
    margin-top: 0.5em;
}

@media screen and (max-width: 1250px) {
    #colLeftMenu {
        margin-left: 1%;
    }

    #path {
        margin-left: 1%;
    }

    #colRightMenu {
        margin-right: 1%;
    }
}

@media screen and (max-width: 1230px) {
    #colLeftMenu {
        width: 25%;
    }

    #colRightMenu {
        width: 68%;
    }
}

@media screen and (max-width: 990px) {
    #colLeftMenu {
        width: 93%;
        margin-left: 30px;
    }

    #generalDescrip img {
        float: left;
        width: 10%;
        height: 50px;
        margin-top: 5px;
        margin-left: 5%;
    }

    #nameCompany {
        float: left;
        width: 80%;
        text-align: left;
        padding-top: 15px;
        padding-bottom: 25px;
    }

    #tableOfContents {
        display: none;
    }

    #colRightMenu {
        width: 95%;
    }

    #imageBody {
        height: 260px;
    }

    .button {
        position: absolute;
        width: 95%;
        left: 2.5%;
        margin-top: 0px;
    }

    #applyJob {
        top: 140px;
    }

    #saveJob {
        top: 185px;
    }

    #relatedJob b {
        display: none;
    }

    #relatedJob .jobContainer {
        height: auto;
        width: 47%;
    }

    #relatedJob .logo img {
        height: 4em;
        width: 6em;
        margin: 0.5em;
    }

    #relatedJob .jobName {
        position: absolute;
        margin-left: 6.7em;
        margin-top: -4em;
        font-size: 1.1em;
    }

    #relatedJob .companyName {
        margin-left: 7.3em;
        margin-top: -2em;
    }

        #relatedJob .companyName .textOverflowLine {
            -webkit-line-clamp: 2;
        }

    #relatedJob .address {
        margin-left: 1em;
        margin-top: 0em;
    }

        #relatedJob .address .textOverflowLine {
            -webkit-line-clamp: 1;
        }

    #relatedJob .salary {
        position: absolute;
        margin-left: 1em;
        margin-top: 1em;
    }

    #relatedJob .deadline {
        position: absolute;
        margin-left: 27vw;
        margin-top: -1.1em;
    }

    #relatedJob .reward {
        margin-left: 27vw;
        margin-top: 1em;
    }
}

