body {
    font-family: 'Roboto', sans-serif;
}

.page-wrapper {
    position: relative;
}

.uni-subheader {
    position: relative;
    min-height: 320px;
    margin-bottom: -190px;
}

.banner {
    background-image: url('../../Img/University/6137667_042820-kfsn-graduation-img.jpg');
    background-size: cover;
    background-position-y: bottom;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-content {
    padding: 25px 0 10px 0;
    float: left;
    width: 100%;
    background-color: slategrey;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: white;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.uni-info {
    float: left;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 5px gray;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 960px) {
    .uni-info {
        width: 100%;
    }
}

.img-thumbnail {
    float: left;
    width: 165px;
    border: 1px solid #ececec;
    margin-top: 30px;
}

img {
    height: auto;
    max-width: 100%;
}

#uni-name {
    margin-bottom: 13px;
    font-size: 26px;
    line-height: 1;
    font-weight: 600;
}
#email {
    float:left;
    margin-left:64px;
    width: 74%;
}
#hotline {
    float: left;
    margin-left: 64px;
    width: 74%;
}
#descrip {
    float: left;
    margin-left: 64px;
    width: 74%;
}
a {
    text-decoration: none;
}

.uni-overview {
    margin-top: 50px;
    float: left;
    color: #f07e1d;
    font-weight: 600;
    padding: 13px 15px;
    border: 1px solid #f07e1d;
    margin-left: 64px;
}

.company-info-option {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding-inline-start: 0;
}

.uni-student-list {
    float: left;
    width: 80%;
    margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
    .uni-student-list {
        width: 100%;
    }
}

.uni-student-list ul {
    padding-inline-start: 0;
}

    .uni-student-list ul li {
        list-style: none;
        position: relative;
        width: 100%;
        padding: 10px 0;
    }

@media screen and (min-width:768px) {
    .student {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.student {
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
}

.student-wrap {
    float: left;
    width: 100%;
    border: 1px solid #ececec;
    padding: 15px;
    position: relative;
}

.student-img {
    width: 150px;
    border: 1px solid #ececec;
    float: left;
}

.student-info {
    margin-left: 180px;
}

.student-info-option {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

    .student-info-option li {
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }
